html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  width: 100%;
  height: 100%;
  position: relative;
  background: #ffffff;
}

a {
  outline: none;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

a img {
  border: none;
  cursor: pointer;
}

img {
  vertical-align: bottom;
}

p {
  margin: 0 0 15px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: bold;
}

strong, b {
  font-weight: bold;
}

table {
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
}

ul li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

hr {
  border: 0;
}

*:focus, *:active {
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
  min-width: 320px;
  font-weight: 400;
  color: #000037;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  background: url(../images/site.jpg) no-repeat center top;
}

.main_section {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.page_width {
  padding: 0px 90px;
  margin: 0 auto;
  max-width: 1530px;
  position: relative;
}
.page_width:after {
  content: "";
  display: block;
  clear: both;
}

@media screen and (max-width: 1400px) {
  .page_width {
    padding: 0px 50px;
  }
}
@media screen and (max-width: 1200px) {
  .page_width {
    padding: 0px 30px;
  }
}
@media screen and (max-width: 600px) {
  .page_width {
    padding: 0px 10px;
  }

  .wrapper {
    overflow: hidden;
  }

  .main_section h2 {
    margin-bottom: 20px;
  }
}
a {
  text-decoration: none;
  color: #000037;
}
a:hover {
  text-decoration: underline;
  color: #323269;
}

strong, b {
  font-weight: 600;
}

p {
  margin-bottom: 10px;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-weight: 700;
  margin-bottom: 20px;
  position: relative;
  font-family: "Montserrat Alternates", Arial, Helvetica, sans-serif;
}

h1, .h1 {
  font-size: 35px;
  line-height: 43px;
}

h2, .h2 {
  font-size: 30px;
  line-height: 37px;
}

h3, .h3 {
  font-size: 24px;
  line-height: 29px;
}

h4, .h4 {
  font-size: 18px;
  line-height: 20px;
}

h5, .h5 {
  font-size: 16px;
  line-height: 22px;
}

h6, .h6 {
  font-size: 18px;
  line-height: 22px;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 1030px) {
  body {
    font-size: 14px;
    line-height: 20px;
  }

  h1, .h1 {
    font-size: 30px;
    line-height: 37px;
  }

  h2, .h2 {
    font-size: 25px;
    line-height: 30px;
  }

  h3, .h3 {
    font-size: 18px;
    line-height: 22px;
  }

  h4, .h4 {
    font-size: 16px;
    line-height: 20px;
  }

  h5, .h5 {
    font-size: 14px;
    line-height: 18px;
  }

  h6, .h6 {
    font-size: 16px;
    line-height: 20px;
  }
}
@media screen and (max-width: 600px) {
  h1, .h1 {
    font-size: 25px;
    line-height: 30px;
  }

  h2, .h2 {
    font-size: 20px;
    line-height: 24px;
  }

  h3, .h3 {
    font-size: 16px;
    line-height: 20px;
  }

  h4, .h4, h5, .h5 {
    font-size: 14px;
    line-height: 17px;
  }
}
.clear {
  clear: both;
}

.mob {
  display: none;
}

@media screen and (max-width: 1030px) {
  .mob {
    display: block;
  }
}
.center {
  text-align: center;
}

.button {
  padding: 0px 25px;
  height: 44px;
  min-width: 127px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
  text-align: center;
  text-decoration: none !important;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  cursor: pointer;
  overflow: hidden;
  color: #000037;
  border-radius: 5px;
  transition: all 0.3s ease 0s;
}
.button::before, .button::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  top: 0;
  left: 0;
  transition: all 0.3s ease 0s;
}
.button::after {
  opacity: 0;
}
.button span {
  position: relative;
  z-index: 1;
  transition: all 0.3s ease 0s;
}
.button:hover {
  text-decoration: none;
}
.button:hover::before {
  opacity: 0;
}
.button:hover::after {
  opacity: 1;
}
.button.btn_green::before {
  background: linear-gradient(180deg, #A3E419 15.1%, #83BB0D 100%);
}
.button.btn_green::after {
  background: linear-gradient(180deg, #B7F82D 15.1%, #83BB0D 100%);
}
.button.btn_blue {
  color: #fff;
  font-weight: 600;
}
.button.btn_blue::before {
  background: linear-gradient(180deg, #1B537D 23.96%, #0E2A53 100%);
}
.button.btn_blue::after {
  background: linear-gradient(180deg, #2F6791 23.96%, #0E2A53 100%);
}
.button.btn_green_border {
  background: linear-gradient(180deg, #71B200 15.1%, #3D7500 100%);
}
.button.btn_green_border span {
  background: linear-gradient(180deg, #71B200 15.1%, #3D7500 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.button.btn_green_border::before {
  background: #fff;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  top: 1px;
  left: 1px;
}
.button.btn_green_border::after {
  background: linear-gradient(180deg, #A3E419 15.1%, #83BB0D 100%);
}
.button.btn_green_border:hover span {
  color: #000037;
  background: none;
  -webkit-text-fill-color: inherit;
}
.button.btn_blue_border {
  font-weight: 600;
  background: linear-gradient(180deg, #1B537D 23.96%, #0E2A53 100%);
}
.button.btn_blue_border::before {
  background: #fff;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  top: 1px;
  left: 1px;
}
.button.btn_blue_border::after {
  background: linear-gradient(180deg, #1B537D 23.96%, #0E2A53 100%);
}
.button.btn_blue_border:hover span {
  color: #fff;
}

.buttons .button {
  margin-right: 30px;
  margin-bottom: 20px;
}
.buttons .button:last-child {
  margin-right: 0;
}

.all_link, .more {
  line-height: 18px;
  position: relative;
  z-index: 1;
  font-weight: 500;
  color: #000037;
}
.all_link::after, .more::after {
  content: "";
  display: inline-block;
  margin-left: 10px;
  font-size: 21px;
  width: 40px;
  height: 10px;
  position: relative;
  transition: all 0.3s ease 0s;
  background: url(images/arrow.svg) no-repeat right center;
}

.all_link {
  margin-top: -50px;
  float: right;
}

@media screen and (max-width: 1030px) {
  .buttons {
    padding-bottom: 10px;
  }
  .buttons .button {
    margin-right: 15px;
    margin-bottom: 15px;
  }

  .all_link {
    margin-top: -40px;
  }
}
@media screen and (max-width: 600px) {
  .all_link::after, .more::after {
    width: 20px;
  }
}
.slick-slider {
  position: relative;
  margin: 0 -32px;
  padding: 0 35px;
}
.slick-slider .slick-list {
  margin: 0 -15px;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  bottom: 0;
  margin-top: -25px;
  width: 50px;
  height: 50px;
  z-index: 1;
  outline: none;
  cursor: pointer;
  overflow: hidden;
  border: 1px solid #000037;
  border-radius: 50%;
  box-sizing: border-box;
  transition: all 0.3s ease 0s;
}
.slick-arrow:before {
  content: "";
  position: absolute;
  z-index: 2;
  width: 14px;
  height: 14px;
  top: 16px;
  border-top: 2px solid #000037;
  border-left: 2px solid #000037;
  box-sizing: border-box;
}
.slick-arrow:hover {
  background-color: #000037;
}
.slick-arrow:hover:before {
  border-color: #fff;
}

.slick-prev {
  left: 0;
  margin-left: -48px;
}
.slick-prev::before {
  left: 20px;
  transform: rotate(-45deg);
}

.slick-next {
  right: 0;
  margin-right: -48px;
}
.slick-next:before {
  right: 20px;
  transform: rotate(135deg);
}

ul.slick-dots {
  position: absolute;
  bottom: 35px;
  width: 100%;
  z-index: 2;
  text-align: center;
}
ul.slick-dots li {
  display: inline-block;
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  border: 1px solid #fff;
  background-color: transparent;
  cursor: pointer;
  margin: 0 5px 10px;
  font-size: 14px;
  font-weight: 500;
  line-height: 35px;
  color: #000037;
  text-align: center;
  box-sizing: border-box;
  transition: all 0.3s ease 0s;
}
ul.slick-dots li:hover, ul.slick-dots li.slick-active {
  background-color: #fff;
}
ul.slick-dots li button {
  display: none;
}

@media screen and (max-width: 1400px) {
  .slick-slider {
    margin: 0 -5px;
  }

  .slick-prev {
    margin-left: -28px;
  }

  .slick-next {
    margin-right: -28px;
  }
}
@media screen and (max-width: 1200px) {
  .slick-slider {
    margin: 0 10px;
  }
}
@media screen and (max-width: 1030px) {
  .slick-slider {
    margin: 0 0px;
    padding: 0 70px;
  }

  .slick-prev {
    margin-left: 0px;
  }

  .slick-next {
    margin-right: 0px;
  }
}
@media screen and (max-width: 600px) {
  .slick-slider {
    padding: 0 40px;
  }

  .slick-arrow {
    width: 30px;
    height: 30px;
  }
  .slick-arrow::before {
    width: 8px;
    height: 8px;
    top: 9px;
  }

  .slick-prev {
    margin-left: 0px;
  }
  .slick-prev::before {
    left: 10px;
  }

  .slick-next {
    margin-right: 0px;
  }
  .slick-next::before {
    right: 10px;
  }

  ul.slick-dots li {
    width: 6px;
    height: 6px;
    margin: 0 5px 10px;
  }
}
@media screen and (max-width: 400px) {
  .slick-slider {
    margin: 0 -10px;
  }
}
.text ul {
  margin-bottom: 25px;
  padding-top: 4px;
  margin-left: -5px;
}
.text ul li {
  position: relative;
  padding: 0px 0 0px 13px;
  margin-bottom: 10px;
  margin-left: 4px;
  overflow: hidden;
}
.text ul li p {
  position: relative;
  z-index: 1;
  margin-bottom: 0;
}
.text ul li::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0px;
  left: 0px;
  background: repeating-linear-gradient(-45deg, #FFF500, #FFF500 1px, transparent 1px, transparent 3px);
}
.text ol {
  counter-reset: ol_ounter;
  list-style-type: none;
}
.text ol li {
  padding: 0px 0 0px 40px;
  margin-bottom: 20px;
  margin-left: 4px;
  position: relative;
}
.text ol li:before {
  counter-increment: ol_ounter;
  content: counter(ol_ounter);
  font-weight: 600;
  font-size: 40px;
  line-height: 100%;
  position: absolute;
  left: 0;
}

@media screen and (max-width: 600px) {
  .text {
    font-size: 14px;
    line-height: 20px;
  }
}
.tabs_container {
  position: relative;
}
.tabs_container:hover {
  z-index: 3;
}

.tab {
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.3s ease 0s;
}

.tab.active {
  opacity: 1;
  height: auto;
  overflow: visible;
  position: relative;
  z-index: 1;
}

.tab_buttons {
  position: relative;
  z-index: 1;
  margin: 0 auto 25px;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
}
.tab_buttons span, .tab_buttons a {
  cursor: pointer;
  z-index: 2;
  white-space: nowrap;
  padding: 10px 30px 10px;
  margin-right: 10px;
  line-height: 19px;
  font-weight: 500;
  vertical-align: middle;
  display: inline-block;
  box-sizing: border-box;
  transition: all 0.3s ease 0s;
}
.tab_buttons span:last-child, .tab_buttons a:last-child {
  margin-right: 0;
}
.tab_buttons span.active, .tab_buttons a.active {
  background-color: #000037;
  color: #fff;
}

.pagination {
  text-align: center;
  margin-bottom: 60px;
}
.pagination ul li {
  display: inline-block;
  font-size: 22px;
  line-height: 25px;
  margin: 0 13px;
  font-size: 18px;
  line-height: 21px;
  font-weight: 600;
}
.pagination ul li a {
  box-sizing: border-box;
  display: block;
  text-decoration: none;
  color: #000037;
  width: 40px;
  height: 40px;
  padding-top: 9px;
  border: 1px solid #212121;
  transition: all 0.3s ease 0s;
}
.pagination ul li a.activ, .pagination ul li a:hover {
  color: #fff;
  background-color: #000037;
}
.pagination ul li .next, .pagination ul li .prev {
  font-size: 16px;
  line-height: 18px;
  width: auto;
  height: auto;
  padding-top: 0;
  font-weight: 300;
  border: 0;
}
.pagination ul li .prev {
  margin-right: 30px;
}
.pagination ul li .prev::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  border-top: 2px solid #000037;
  border-left: 2px solid #000037;
  box-sizing: border-box;
  margin-bottom: -4px;
  transform: rotate(-45deg);
}
.pagination ul li .next {
  margin-left: 30px;
}
.pagination ul li .next::after {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  border-top: 2px solid #000037;
  border-left: 2px solid #000037;
  box-sizing: border-box;
  margin-bottom: -4px;
  transform: rotate(135deg);
}

@media screen and (max-width: 1030px) {
  .tab_buttons span, .tab_buttons a {
    padding: 8px 15px 8px;
    margin-right: 0;
  }

  .pagination {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 600px) {
  .pagination {
    margin-bottom: 30px;
  }
  .pagination ul li {
    margin: 0 5px;
  }
  .pagination ul li .prev {
    margin-right: 0px;
  }
  .pagination ul li .next {
    margin-left: 0px;
  }
}
body.compensate-for-scrollbar, .fancybox-enabled {
  overflow: auto;
}
@keyframes preloader {
  0% {
    width: 115px;
  }
  50% {
    width: 115px;
  }
  100% {
    width: 385px;
  }
}
#preloader {
  min-height: 100%;
  min-width: 100%;
  width: 100%;
  height: 100%;
  background-color: #000037;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
  text-align: center;
}
#preloader .img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 115px;
  height: 100px;
  margin: auto;
  max-width: 80%;
  overflow: hidden;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-delay: 0s;
  animation-name: preloader;
}

@media screen and (max-width: 600px) {
  @keyframes preloader2 {
    0% {
      width: 80px;
    }
    50% {
      width: 80px;
    }
    100% {
      width: 250px;
    }
  }
  #preloader .img {
    animation-name: preloader2;
  }
  #preloader .img img {
    width: 250px;
  }
}
/* start header styles */
header {
  width: 100%;
  left: 0;
  top: 0;
  padding-top: 30px;
  padding-bottom: 40px;
  margin-bottom: 20px;
}
header #logo {
  float: left;
  width: 217px;
}
header #logo img {
  width: 217px;
}
header .button {
  padding: 0 15px;
  color: #fff;
  margin-top: 15px;
  margin-left: 85px;
  float: right;
}
header .contacts {
  margin-top: 24px;
  float: right;
}
header .contacts a:first-child {
  margin-left: 80px;
}
header .contacts a {
  font-size: 20px;
  font-weight: 700;
  margin-left: 120px;
  position: relative;
}
header .contacts a::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 27px;
  top: 2px;
  left: -35px;
  background-repeat: no-repeat;
}
header .contacts .tel::before {
  background-image: url(../images/icon_phon.svg);
}
header .contacts .email::before {
  background-image: url(../images/icon_mail.svg);
}
header .menu_botton {
  float: right;
  width: 24px;
  height: 25px;
  margin: 26px 75px 0 0px;
  position: relative;
  top: 7px;
}
header .menu_botton::before, header .menu_botton::after {
  content: "";
  position: absolute;
  width: 100%;
  border-top: 4px solid #0A2A4F;
  left: 0;
}
header .menu_botton:before {
  top: 0px;
  height: 4px;
  border-bottom: 4px solid #0A2A4F;
}
header .menu_botton::after {
  top: 16px;
}
header nav .language {
  display: flex;
  flex-wrap: wrap;
  width: 45px;
  height: 27px;
  float: left;
  margin-top: 23px;
  margin-left: 35px;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 18px;
  line-height: 17px;
  position: relative;
  box-sizing: border-box;
}
header nav .language::after {
  content: "";
  position: absolute;
  right: 0px;
  top: 50%;
  width: 5px;
  height: 5px;
  margin-top: -5px;
  border-left: 2px solid #1FCEF7;
  border-bottom: 2px solid #1FCEF7;
  transform: rotate(-45deg);
  transition: all 0.3s;
}
header nav .language::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  cursor: pointer;
}
header nav .language .lang_item {
  width: 100%;
  opacity: 0;
  pointer-events: none;
  padding: 5px 7px;
  transition: all 0.3s;
}
header nav .language .lang_item.active {
  order: -1;
  opacity: 1;
}
header nav .language.show .lang_item {
  opacity: 1;
  pointer-events: initial;
  background-color: #0063A5;
  color: #fff;
  z-index: 10;
  box-sizing: border-box;
}
header nav .language.show::after {
  transform: rotate(135deg);
  border-top-color: #fff;
}
header nav .search {
  margin-top: 16px;
  margin-left: 85px;
  overflow: hidden;
  border: 1px solid #8DB2CB;
  width: 199px;
  height: 40px;
  border-radius: 5px;
  display: inline-block;
}
header nav .search button {
  float: left;
  padding: 10px;
  height: 40px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
header nav .search input {
  height: 40px;
  border: none;
  background-color: transparent;
}
header nav .search input::placeholder {
  color: #8DB2CB;
}
header nav .menu {
  margin-top: 29px;
  margin-left: 258px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
header nav .menu::before {
  content: "";
  width: 100%;
  height: 1px;
  right: 0;
  top: -19px;
  position: absolute;
  background-color: #8DB2CB;
  z-index: 2;
}
header nav .menu li a {
  transition: all 0.3s;
  font-size: 18px;
  font-weight: 600;
}
header nav .menu li a:hover {
  text-decoration: none;
  color: #1FCEF7;
}
header nav .submenu {
  position: relative;
}
header nav .submenu::after {
  content: "";
  position: absolute;
  right: -13px;
  top: 60%;
  width: 5px;
  height: 5px;
  margin-top: -5px;
  border-left: 2px solid #1FCEF7;
  border-bottom: 2px solid #1FCEF7;
  transform: rotate(-45deg);
  transition: all 0.3s;
}
header nav .submenu > ul {
  opacity: 0;
  position: absolute;
  min-width: 100%;
  z-index: 1;
  left: 0;
  top: 100%;
  box-shadow: 10px 10px 20px rgba(0, 43, 43, 0.1);
  padding: 10px 0;
  pointer-events: none;
  transition: all 0.3s;
  background-color: #FFF;
  border-radius: 5px;
  overflow: hidden;
}
header nav .submenu > ul li {
  display: block;
  padding: 5px 35px 5px 20px;
  width: 100%;
}
header nav .submenu > ul li a {
  font-size: 16px;
  font-weight: 400;
}
header nav .submenu > ul li a:hover {
  color: #000037;
}
header nav .submenu > ul li:hover {
  background: linear-gradient(180deg, #A3E419 15.1%, #83BB0D 100%);
}
header nav .submenu > ul li:hover a {
  text-decoration: none;
}
header nav .submenu:hover > ul {
  opacity: 1;
  pointer-events: initial;
  z-index: 2;
}
header nav .submenu:hover:after {
  transform: rotate(135deg);
}

.scroll {
  position: fixed;
  box-shadow: 10px 10px 20px rgba(36, 70, 122, 0.25);
  background-color: #FFF;
}

.nobg {
  position: absolute;
  z-index: 10;
}
.nobg .contacts a {
  color: #fff;
}
.nobg .menu_botton::before, .nobg .menu_botton::after {
  border-top: 4px solid #FFF;
}
.nobg .menu_botton:before {
  border-bottom: 4px solid #FFF;
}
.nobg nav .search {
  border: 1px solid #FFF;
}
.nobg nav .search input {
  color: #FFF;
}
.nobg nav .search input::placeholder {
  color: #FFF;
}
.nobg nav .language .lang_item {
  color: #FFF;
}
.nobg nav .menu::before {
  background-color: #FFF;
}
.nobg nav .menu li a {
  color: #FFF;
}
.nobg nav .menu .submenu > ul li a {
  color: #000037;
}

@media screen and (max-width: 1673px) {
  header nav .search {
    margin-left: 40px;
  }
}
@media screen and (max-width: 1628px) {
  header .contacts a:first-child {
    margin-left: 0px;
  }
  header nav .search {
    margin-left: 20px;
  }
}
@media screen and (max-width: 1585px) {
  header .button {
    margin-left: 40px;
  }
  header .contacts a {
    margin-left: 75px;
  }
}
@media screen and (max-width: 1498px) {
  header #logo {
    width: 170px;
  }
  header #logo img {
    width: 170px;
  }
  header nav .menu {
    margin-left: 210px;
  }
}
@media screen and (max-width: 1445px) {
  header #logo {
    width: 150px;
  }
  header #logo img {
    width: 150px;
  }
  header .contacts a {
    font-size: 18px;
  }
  header nav .menu {
    margin-left: 190px;
  }
}
@media screen and (max-width: 1303px) {
  header #logo {
    width: 148px;
  }
  header #logo img {
    width: 148px;
  }
  header .button {
    font-size: 14px;
  }
  header .contacts a {
    margin-left: 50px;
  }
  header nav .search {
    width: 150px;
  }
  header nav .search input {
    width: 100px;
  }
  header nav .search button img {
    width: 15px;
  }
  header nav .menu {
    margin-left: 189px;
  }
}
@media screen and (max-width: 1156px) {
  header .button {
    margin-left: 20px;
  }
  header nav .language {
    margin-left: 20px;
  }
  header nav .menu {
    margin-left: 173px;
  }
}
/*@media screen and (max-width:1030px)*/
@media screen and (max-width: 1123px) {
  header {
    padding-top: 20px;
    padding-bottom: 30px;
  }
  header #logo {
    width: 148px;
  }
  header #logo img {
    width: 148px;
  }
  header .menu_botton {
    display: block;
  }
  header .button {
    margin-top: 25px;
    margin-left: 40px;
    font-size: 13px;
  }
  header .contacts a {
    margin-left: 75px;
    font-size: 18px;
  }
  header .btn_call, header .contacts {
    margin-top: 33px;
    top: 50%;
  }
  header nav {
    box-sizing: border-box;
    padding: 20px;
    margin-top: 0px;
    position: absolute;
    top: 125px;
    left: 0;
    width: 100%;
    background-color: #FFF;
    flex-direction: column;
    display: none;
  }
  header nav .language {
    margin-left: 0px;
  }
  header nav .search {
    float: right;
  }
  header nav .menu {
    flex-direction: column;
    clear: both;
    padding-left: 0px;
  }
  header nav .menu::before {
    display: none;
  }
  header nav .menu .submenu::after {
    right: 20px;
    top: 60%;
  }
  header nav .menu .submenu > ul {
    display: none;
    min-width: 100%;
    padding: 0px 0px;
    pointer-events: none;
    transition: all 0.3s;
    background-color: #cacaca;
    border-radius: none;
  }
  header nav .menu .submenu:hover > ul {
    opacity: 1;
  }
  header nav .menu .submenu:hover:after {
    transform: rotate(-45deg);
  }
  header nav .menu .show > ul {
    opacity: 1;
    position: static;
    display: block;
    pointer-events: initial;
    z-index: 2;
  }
  header .activ {
    display: block;
  }
}
@media screen and (max-width: 994px) {
  header #logo {
    width: 120px;
  }
  header #logo img {
    width: 120px;
  }
  header .contacts a {
    margin-left: 50px;
  }
  header .button {
    margin-left: 20px;
  }
}
@media screen and (max-width: 922px) {
  header #logo {
    width: 120px;
  }
  header #logo img {
    width: 120px;
  }
  header .contacts a {
    font-size: 15px;
  }
  header .contacts a::before {
    top: -2px;
  }
  header .button {
    margin-top: 20px;
    font-size: 12px;
  }
}
@media screen and (max-width: 844px) {
  header .menu_botton {
    margin-right: 50px;
  }
  header .contacts a {
    font-size: 14px;
  }
  header .contacts a::before {
    width: 17px;
    height: 18px;
    left: -28px;
    top: 0;
    background-size: cover;
  }
}
@media screen and (max-width: 794px) {
  header #logo {
    width: 100px;
  }
  header #logo img {
    width: 100px;
  }
  header .menu_botton {
    margin-top: 19px;
    margin-right: 40px;
  }
  header .contacts {
    margin-top: 26px;
  }
  header .button {
    margin-top: 13px;
    padding: 0 10px;
  }
}
@media screen and (max-width: 752px) {
  header #logo {
    width: 93px;
  }
  header #logo img {
    width: 93px;
  }
}
@media screen and (max-width: 744px) {
  header .contacts a:nth-child(2) {
    display: none;
  }
  header .menu_botton {
    margin-right: 50px;
  }
}
@media screen and (max-width: 473px) {
  header {
    position: relative;
  }
  header .contacts {
    margin-top: 0;
    float: none;
    top: 0;
    right: 11px;
    position: absolute;
  }
  header .contacts a::before {
    width: 15px;
    height: 16px;
    left: -25px;
    top: 1px;
    background-size: cover;
  }
  header .button {
    margin-top: 35px;
  }
  header .menu_botton {
    margin-top: 16px;
    margin-right: 33px;
  }
}
@media screen and (max-width: 337px) {
  header .menu_botton {
    margin-right: 15px;
  }
}
/* end header styles */
/* start main screen styles */
#main_screen {
  overflow: hidden;
  height: calc(100vh - 80px);
  min-height: 500px;
  clear: both;
}
#main_screen .page_width {
  height: 100%;
  padding-top: 170px;
}
#main_screen .text {
  max-width: 730px;
  position: relative;
  padding-bottom: 1px;
  color: #fff;
}
#main_screen h1 {
  margin-bottom: 20px;
}
#main_screen p {
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 60px;
  max-width: 600px;
}
#main_screen .button {
  margin-right: 30px;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 1030px) {
  #main_screen h1 {
    font-size: 40px;
    line-height: 49px;
  }
}
@media screen and (max-width: 1500px) {
  #main_screen .text {
    top: 33.3%;
    max-width: 670px;
  }
}
@media screen and (max-width: 1030px) {
  #main_screen {
    min-height: 400px;
    height: calc(100vh - 70px);
  }
  #main_screen .text {
    top: 20%;
    max-width: 400px;
  }
  #main_screen .text h1 {
    color: #000037;
    text-shadow: 0px 4px 25px rgba(255, 255, 255, 0.55);
  }
  #main_screen .text p {
    margin-bottom: 35px;
  }
  #main_screen .images div {
    background-position: 70% 50%;
  }
}
@media screen and (max-width: 900px) {
  #main_screen .images div {
    background-position: 60% 50%;
  }
}
@media screen and (max-width: 800px) {
  #main_screen {
    min-height: 450px;
    height: calc(100vh - 60px);
  }
  #main_screen h1 {
    font-size: 30px;
    line-height: 42px;
    letter-spacing: 0px;
  }
  #main_screen p {
    text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.55);
  }
  #main_screen .text {
    top: 13.3%;
    max-width: 400px;
  }
}
@media screen and (max-width: 600px) {
  #main_screen {
    min-height: 300px;
  }
  #main_screen .text {
    top: 10%;
  }
  #main_screen p {
    margin-bottom: 30px;
  }
  #main_screen .images div {
    background-position: 70% 15%;
  }
}
@media screen and (max-width: 450px) {
  #main_screen {
    height: auto;
  }
  #main_screen .text {
    top: 20px;
  }
  #main_screen h1 {
    line-height: 30px;
  }
  #main_screen p {
    margin-bottom: 20px;
  }
  #main_screen .images div {
    background-position: 66% 15%;
  }
}
/* end main screen styles */
/*# sourceMappingURL=style.css.map */