.title{
    padding-top: 15px;
    padding-bottom: 26px;
    box-sizing: border-box;
    .breadcrumbs{
        font-size: 12px;
        line-height: 15px;
        ul li{
            display: inline-block;
             
            a::after{
                content: "/";
                margin-left: 3px;
            }
        }
        .active{
            color: #1FCEF7;
        }
    }

    h1{
        margin-top: 20px;
    }

    .all_link {
        margin-top: 31px;
    }
}

div.content {
    .page_width {
        padding-top: 100px;
        padding-bottom: 100px;

        h2 {
            margin-bottom: 40px;
        }
    }
}

.product_tipes{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    //padding-bottom: 30px;
    margin-bottom: 70px;

    .tipes_item{
        width: calc(50% - 30px);
        height: 450px;
        overflow: hidden;
        position: relative;
        cursor: pointer;
        //z-index: 1;
        //pointer-events: none;
        text-align: center;
        border-radius: 5px;
        transition: all .3s;

        &::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            opacity: 0;
            @include transition(all);
        }

        a{
            display: block;
            position: relative;
            z-index: 1;
            width: 100%;
            height: 100%;
        }
        span:first-child{
            line-height: 25px;
            font-size: 24px;
            font-weight: 700;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: all .3s;
        }
        .more{
            position: absolute;
            opacity: 0;
            //bottom: 170px;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            transition: all .4s;
        }
    }

    .tipes_item{
        &:hover{
            box-shadow: 20px 20px 20px rgba(0, 43, 43, 0.1);

            span{
                color: #FFF;
            }
            .more{
                opacity: 1;
                bottom: 40%;
            }
            &::before{
                opacity: 1;
            }
        }
    }
    .jar{
        background: url(../images/jar.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        &::before{
            background-image: url(../images/jar_green.jpg),  linear-gradient(180deg, #1B537D 23.96%, #0E2A53 100%);
        }
    }
    .bottle{
        background: url(../images/bottle.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        &::before{
            background-image: url(../images/bottle_green.jpg);
        }
    }
}

.gray_bg{
    background-color: #EBEEF0;
}
.text{
    h2{
        margin-bottom: 30px;
    }
}
@media screen and (max-width:1280px) {
    .product_tipes .tipes_item{
        height: 360px;
            &:hover{
                .more{
                    bottom: calc(40% - 30px);
                }
            }
            
        }
}
@media screen and (max-width:1024px){
    .title  h1{
            margin-top: 10px;
    }

    
    .product_tipes{
        margin-bottom: 50px;
        .tipes_item{
            height: 282px;
            span:first-child{
                font-size: 18px;
            }
            .more{
                font-size: 16px;
            }
            width: calc(50% - 20px);
            
        }
    }
    .text h2{
        margin-bottom: 20px;
    }
}
@media screen and (max-width:666px){
    .product_tipes{
        .tipes_item{

            span:first-child{
                font-size: 16px;
                line-height: 20px;
            }
            width: calc(50% - 5px);
            
        }
    }
}
@media screen and (max-width:583px){
    .title  h1{
        margin-top: 5px;
    }
    .product_tipes{
        margin-top: 32px;
        margin-bottom: 30px;
        flex-wrap: wrap;
        .tipes_item{
            width: 100%;
            margin-bottom: 10px;
            height: 200px;
        }
    }
    .text h2{
        margin-bottom: 10px;
    }
}
@media screen and (max-width:420px){
    .product_tipes{
        .tipes_item{
            height: 180px;
        }
    }
}


/*Start information styles*/
.text_and_img{
    h2{
        margin-bottom: 40px;
    }
    .text_img_item{
        display: flex;
        align-items: center;
        vertical-align: middle;

        .text{
            order: 1;
            width: 50%;
            padding: 0px 80px 0 0;
            box-sizing: border-box;
            vertical-align: middle;

            .button{
                margin-top: 10px;
            }
        }

        .image{
            order: 1;
            overflow: hidden;
            width: calc(50% - 30px);
            height: 480px;
            box-shadow: 0px 20px 60px rgba(4, 29, 47, 0.6);
            margin-bottom: 100px;

            img{
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }

        .right{
            padding: 0px 0px 0 80px;
            order: 2;
        }
    }
}

@media screen and (max-width:1030px){
    .text_and_img{
        .text_img_item{
            .text{
                padding: 0px 20px 0 0;
    
                .button{
                    margin-top: 40px;
                }
            }
    
            .image{
                width: calc(50% - 20px);
                height: 301px;
            }
    
            .right{
                order: 2;
                padding: 0px 0px 0 48px;
            }
        }
    }
}
@media screen and (max-width:726px){
    .text_and_img{
        h2{
            margin-bottom: 30px;
        }
        .text_img_item{
            flex-wrap: wrap;
            .text{
                order: 2;
                width: 100%;
                padding: 0px 0px 0 0;
    
                .button{
                    margin-top: 30px;
                }
            }
    
            .image{
                order: 1;
                width: 100%;
                height: 310px;
                margin-bottom: 30px;
                box-shadow: 0px 10px 30px rgba(4, 29, 47, 0.3);
            }
    
            .right{
                order: 2;
                padding: 0px 0px 0 0px;
            }
        }
    }
}
@media screen and (max-width:530px){
    .text_and_img{
        .text_img_item{
            .image{
                height: 190px;
            }
        }
    }
}
/*End information styles*/

/*start secondary menu*/
.secondary_menu{
    display: flex;
    text-align: center;
    border-bottom: 1px solid #8DB2CB;
    box-shadow: 0px 10px 30px rgba(0, 43, 43, 0.1);
    margin-bottom: 60px;


    li{
        display: inline-block;
        padding: 20px 30px;
        font-size: 18px;
        //border-bottom: 2px solid $color_text;

        a{
            &:hover{
                text-decoration: none;
            }
        }
    }

    .active{
        border-bottom: 2px solid $color_text;
        font-weight: 700;
        
    }
}
/*end secondary menu*/


/*start galery*/

.galery{
    position: relative;
    overflow: hidden;

    &:not(.galery_slider) {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px 0px;

        .item {
            width: calc(33% - 30px);
        }
    }

    .item{
        overflow: hidden;
        height: 330px;
        border-radius: 5px;
        position: relative;

        margin: 0 15px 30px;

        background: linear-gradient(0deg, rgba(0, 41, 44, 0.5), rgba(0, 41, 44, 0.5));
        background-color: #00292C;

        img{
            position: relative;
            opacity: 50%;
            object-fit: cover;
            object-position: center;
            width: 100%;
            height: 100%;
            @include transition(all);
        }

        &:hover{
            img{
                opacity: 100%;
            }
        }
    }
}

/*end galery*/

/*start about factory*/
.serteficats{
    display: flex;
    margin: 0 -15px;
    position: relative;
    z-index: 2;

    .item{
        width: calc(33% - 30px);
        margin: 0 15px;
        padding: 30px 0;
        text-align: center;

        box-shadow: 15px 15px 40px rgba(0, 43, 43, 0.2);
        border-radius: 5px;

        img{
            display: inline-block;
           // width: 150px;
           margin: 0 20px;
        }

        p{
            margin-top: 42px;
            padding: 0 75px;
        }
    }
}


.block_about{
    position: relative;
    z-index: 2;
    //margin-top: 60px;
    padding-top: 60px;
    padding-bottom: 250px;
    display: flex;
    align-items: center;
    &::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 757px;
        left: 0;
        top: 0;
        z-index: 0;
        background: #fff url(../images/about_company_bg.jpg) no-repeat top/100% auto;

    }

    h2{
        margin-bottom: 152px;
    }

    .text{
        width: 50%;
        margin-right: 50%;

        .button{
            margin-top: 60px;
        }
    }
}
/*end about factory*/


/*start vacansis*/
.open_vacansis{
    .container{
        position: relative;
        box-sizing: border-box;
        padding: 39px 60px;
        margin-bottom: 20px;
        box-shadow: 0px 10px 30px rgba(0, 43, 43, 0.1);
        //box-shadow: 10px 20px 30px rgba(0, 43, 43, 0.2);
        border-radius: 5px;
        cursor: pointer;

        &:after{
            content: '';
            position: absolute;
            top: 39px;
            right: 60px;
            width: 30px;
            height: 30px;
            border-radius: 50px;
            background-color: #E1E7EB;
        }
        h4{
            margin-bottom: 0px;
        }

        .open_block{
            h5{
                margin-bottom: 10px;
            }
            p{
                margin-bottom: 20px;
            }
            display: none;

            padding: 20px 20px 30px;

            .button{
                margin-top: 20px;
            }
        }

        /*.active{
            display: block;
        }*/
    }

    .active{

        .open_block{
            display: block;
        }
    }
}
/*end vacansis*/