/* start exclusive_block styles */ 

#exclusive_block {
    overflow: hidden;
    
    .page_width {
		padding-top: 100px;
        padding-bottom: 80px;
    }
}

.exclusive_container {
    padding-top: 30px;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        width: 1170px;
        height: 483px;
        right: 0;
        bottom: 0;
        background: linear-gradient(180deg, #A3E419 15.1%, #83BB0D 100%);
        box-shadow: 0px 20px 40px rgba(0, 19, 19, 0.25);
    }

    .image {
        float: right;
        position: relative;
    }

    .text {
        position: relative;
    }
}



@media screen and (min-width: 1030px) {
    
}


@media screen and (max-width: 1500px) {
	
}

@media screen and (max-width: 1030px) {
	
}

@media screen and (max-width: 900px) {
	
}
@media screen and (max-width: 800px) {
    
}

@media screen and (max-width: 600px) {
    
}

@media screen and (max-width: 450px) {
    
}

/* end exclusive_block styles */