/* start exclusive_block styles */ 

#exclusive_block {
    overflow: hidden;
    background: linear-gradient(180deg, #E8EAEB 0%, #F5F5F8 50.95%, #FDFDFD 67.71%, #FBFBFB 82.88%, #E6E7EA 100%);
    
    .page_width {
		padding-top: 100px;
        padding-bottom: 100px;

        &::after {
            content: '';
            position: absolute;
            width: 509px;
            height: 530px;
            left: 50%;
            margin-left: -748px;
            bottom: 73px;
            background: url(images/branch.png) no-repeat center / contain;
            //z-index: 0;
        }
    }
}

.exclusive_container {
    padding-top: 30px;
    padding-bottom: 80px;
    position: relative;
    z-index: 1;

    // &::after {
    //     content: '';
    //     position: absolute;
    //     width: 509px;
    //     height: 530px;
    //     left: 17px;
    //     top: 97px;
    //     background: url(images/branch.png) no-repeat center / contain;
    //     z-index: 0;
    // }
    &::before {
        content: '';
        position: absolute;
        width: 1170/1530*100%;
        height: 483px;
        right: 20px;
        bottom: 0;
        background: linear-gradient(180deg, #A3E419 15.1%, #83BB0D 100%);
        box-shadow: 0px 20px 40px rgba(0, 19, 19, 0.25);
    }

    .image {
        float: right;
        position: relative;
        margin-right: 6.55%;
        width: 615/1530*100%;
        height: 490px;
        z-index: 1;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .text {
        position: relative;
        background: #FFFFFF;
        box-shadow: 20px 20px 50px rgba(0, 43, 43, 0.55);
        //z-index: 1;
        min-height: 410px;
        box-sizing: border-box;
        width: 690/1530*100%;
        padding: 60px 10% 40px 3.9%;
        margin: 40px 0 40px 17%;

        h4 {
            padding-bottom: 20px;
            border-bottom: 2px solid #E1E7EB;
            display: inline-block;
        }

        ul {
            margin-bottom: 15px;
        }

        .button {
            &:first-child {
                margin-right: 50px;
            }
        }
        
    }
}


@media screen and (max-width: 1550px) {
	#exclusive_block {
        .page_width {
            &::after {
                margin-left: -770px;
            }
        }
    }
    .exclusive_container {
        &::before {
            width: 85%;
        }
        .text {
            width: 50%;
            margin: 40px 0 40px 8%;
        }
    }
}
@media screen and (max-width: 1280px) {
	#exclusive_block {
        .page_width {
            &::after {
                margin-left: -670px;
            }
        }
    }
    .exclusive_container {
        padding-bottom: 50px;
        &::before {
            width: 85%;
            height: 396px;
        }
        .text {
            width: 60%;
            margin: 20px 0 20px 5%;
            padding: 40px 15% 20px 40px;
            min-height: 342px;
        }
        .image {
            margin-right: 4%;
            width: 45%;
            height: 382px;
        }
    }
}

@media screen and (max-width: 1030px) {
	#exclusive_block {
        .page_width {
            padding-top: 80px;
            padding-bottom: 80px;
    
            &::after {
                display: none;
            }
        }
    }

    .exclusive_container {
        .image {
            width: 50%;
        }
        .text {
            margin: 20px 0 20px 0%;
            .button:first-child {
                margin-right: 40px;
            }
        }
    }
}

@media screen and (max-width: 900px) {
	.exclusive_container {
        .text {
            padding-left: 20px;
        }
    }
}
@media screen and (max-width: 800px) {
    .exclusive_container {
        padding-bottom: 0;
        &::before, .image {
            display: none;
        }
        .text {
            width: auto;
            margin: 0;
            padding: 30px 20px 10px;
            min-height: auto;
            .button:first-child {
                margin-right: 30px;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    #exclusive_block {
        .page_width {
            padding-top: 60px;
            padding-bottom: 60px;
        }
    }
}

@media screen and (max-width: 450px) {
    
}

/* end exclusive_block styles */