/* start forms styles */ 

#main_form {
	overflow: hidden;

	background: linear-gradient(180deg, #E8EAEB 0%, #F5F5F8 50.95%, #FDFDFD 67.71%, #FBFBFB 82.88%, #E6E7EA 100%);

    .page_width {
		padding-top: 100px;
		padding-bottom: 180px;
    }
    
	h2 + p {
		margin-bottom: 68px;
		font-size: 14px;
		line-height: 20px;
	}

	.dsz {
		width: 410px;
		font-size: 43px;
		line-height: 38px;
		float: left;
		margin-right: -200px;
		transform: rotate(-90deg);
		color: #CFDCE4;
		position: relative;
		top: 223px;
    	margin-left: -97px;

		strong {
			font-family: $font_family_h;
			font-size: 51px;
			line-height: 37px;
			font-weight: 700;
			//display: block;
		}
	}

	.form_block {
		margin-left: 213px;
		max-width: 1170px;
		position: relative;

		&::before {
			content: '';
			position: absolute;
			bottom: -108px;
			right: -80px;
			width: 100%;
			height: 483px;
			background: linear-gradient(180deg, #0DA9B6 15.1%, #00818E 100%);
			box-shadow: 0px 20px 40px rgba(0, 19, 19, 0.25);
		}

		.image {
			position: relative;
			height: 500px;
			width: 615/1170*100%;
			//max-width: 50%;
			float: right;
			margin-top: -28px;
			filter: drop-shadow(0px 20px 60px rgba(0, 43, 43, 0.7));
			z-index: 1;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		form {
			max-width: 690px;
			padding: 40px 195px 20px 40px;
			position: relative;
			box-shadow: 20px 20px 50px rgba(0, 43, 43, 0.55);
			background-color: #fff;
		}
	}
}


.form_block {
	// margin-left: 38px;
    // margin-right: -18px;

	form {
		//margin: 0 -15px;
		// font-size: 14px;
		// line-height: 17px;
		
		margin-bottom: 28px;
		padding: 40px;
		box-sizing: border-box;
	}

    .input_text {
		//width: calc(50% - 30px);
		//clear: left;
		//float: left;
		margin: 0 0px 15px;
		position: relative;
	}
	.input_text, .textarea {
		label {
			display: block;
			position: absolute;
			z-index: 2;
			top: 15px;
			left: 20px;
			font-size: 14px;
			line-height: 20px;
			font-weight: 300;
			//color: $color_text;
			color: #ABB8C0;
			@include transition(all);

			.green {
				color: #A3E419;
			}
		}

		input[type="text"]:focus + label, 
		input[type="text"].filled_field + label, 
		textarea:focus + label, 
		textarea.filled_field + label {
			font-size: 10px;
			line-height: 10px;
			top: 5px;
			//color: #7089A4;

			input, textarea {
				border-color: rgba(14, 42, 83, 1);
			}
		}
	}
	.textarea {
		//margin-left: calc(50% + 15px);
		//margin-right: 10px;
		position: relative;
		margin-bottom: 10px;
	}
	


    input[type="text"], textarea {
		padding: 15px 20px 5px 20px;
		height: 50px;
		width: 100%;
		max-width: 100%;
		background: transparent; //#fff;
		border: 1px solid #ABB8C0;
		//border-image-slice: 1;
		//border-image-source: linear-gradient(116.57deg, #FFE2AE 33.33%, #CCA04A 100%);
		box-sizing: border-box;
		border-radius: 5px;
		color: $color_text;
		font-family: $font_family_os;
		font-size: 14px;
		line-height: 18px;
		font-weight: 400; //300;
		vertical-align: top;
		position: relative;
		z-index: 1;
		
		&::-webkit-input-placeholder {opacity: 0; color: #333333;}
		&::-moz-placeholder          {opacity: 0; color: #333;}/* Firefox 19+ */
		&:-moz-placeholder           {opacity: 0; color: #333;}/* Firefox 18- */
		&:-ms-input-placeholder      {opacity: 0; color: #333;}

		&:active, &:focus {
			//border: 1px solid #134983;
			background-color: #fff;
		}
    }
    textarea {
		//height: 237px;
		//width: 100%;
		line-height: 18px;
		//padding-top: 20px;
		resize: none;
    }
    .gUniForm input[type="text"] {
		padding: 15px 20px 5px 20px;
	}
    .input_file {
		display: inline-block;
		vertical-align: top;
		position: relative;
		margin-right: 16px;
		margin-bottom: 32px;
		font-size: 14px;
		line-height: 20px;
    }

	.gUniForm .input_file {
		margin-top: -5px;
	}
    
    input[type="file"] {
		position: absolute;
		z-index: 0;
		opacity: 0;
		width: 160px;
	}
	
	input[type="file"] +label {
		position: relative;
		z-index: 2;
		font-weight: 500;
		height: 40px;
		line-height: 38px;
		margin-bottom: 10px;
		margin-right: 20px;
		cursor: pointer;
		
		&::before {
			content: '';
			display: inline-block;
			width: 15px;
			height: 15px;
			margin-right: 10px;
			background:  url(images/clip.svg) no-repeat center top;
		}

		&::after {
			display: none;
		}
	}
	
	#file_name {
		color: #ABB8C0;
		display: inline-block;
		vertical-align: baseline;
	}
    
    .input_personal_info {
		position: relative;
		float: left;
	}
	
	.checkbox {
		position: relative;
	}

    input[type="radio"], input[type="checkbox"] {
		width: auto;
		height: auto;
		margin-bottom: 0;
		opacity: 0;
		margin-left: -20px;
		position: absolute;
		margin-right: 0;
    }

    input[type="checkbox"]:not(checked) + label {
		position: relative;
		cursor: pointer;
		//margin: 6px 10px 35px;
		padding-left: 25px;
		display: inline-block;
		text-align: left;
		font-size: 14px;
		line-height: 18px;
		clear: both;
		//font-weight: 400; //300;
		@include transition(all);
		
		&:before {
			content: '';
			width: 15px;
			height: 15px;
			background: #FFFFFF;
			border: 1px solid #999999;
			box-sizing: border-box;
			border-radius: 2px;
			position: absolute;
			left: 0px;
			top: 3px;
		}
		
		&:after {
			content: '';
			width: 10px;
			height: 5px;
			position: absolute;
			left: 1px;
   			top: 3px;
			@include transition(all);
            opacity: 0;
            border-left: 2px solid $color_text;
			border-bottom: 2px solid $color_text;
            transform: rotate(-45deg);
		}

		&:hover {
			opacity: 0.8;
		}
    }
    input[type="checkbox"]:checked + label {
		// &:before {
		// 	background-color: $color_a;
		// }
		&:after {
			opacity: 1;
		}
	}

	.gUniForm input[type="checkbox"] + label, .gUniForm input[type="radio"] + label {
		margin-right: 0px; 
	}
	.gUniForm input[type="checkbox"]:not(checked) + label, .gUniForm input[type="radio"]:not(checked) + label {
		padding-left: 25px;
	}
	
	a {
		color: $color_text;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}
    
    .input_personal_info {
		margin-right: 15px;
		//padding-top: 10px;
		float: left;
		max-width: 250px;

		input[type=checkbox]:not(checked) + label:before {
			width: 14px;
			height: 14px;
			top: 0px;
		}
    }

	.gUniForm {
		.uformTools {
			margin-top: -5px;
		}
		.uFormButton {
			float: none;
			width: auto;
			margin-top: 0;
			&:last-child, &:first-child {
				padding-left: 0;
				padding-right: 0;
			}
		}

		.uFormSubmit, .uFormReset {
			font-size: 16px;
    		line-height: 20px;
			border-radius: 5px;
			height: 44px;

			&:active {
				top: 0;
			}
		}
	}

	.buttons {
		text-align: right;
		margin-top: -5px;
	}
    
    button[type="submit"], button[type="reset"], .gUniForm .uFormSubmit, .gUniFormSuccessButton, .button {
	    // margin-right: 0;
	    // //margin-bottom: 20px;
	    // padding: 0 30px 0 30px;
	    width: 142px;
	    // height: 43px;
	    // line-height: 41px;
	    // font-family: $font_family_os;
	    // font-size: 16px;
		// font-weight: 400;
		// //letter-spacing: 0.05em;
	    // background: linear-gradient(180.02deg, #FFE2AE 0.01%, #BF7C17 99.99%);
	    // color: $color_text;
	    // cursor: pointer;
	    // box-sizing: border-box;
	    // @include transition(all);
	    // border: 0;
	    // //border-radius: 10px;
	    // text-align: center;
	    // position: relative;
	    // vertical-align: middle;
		// //text-decoration: none;
		// //float: right;
		// min-width: auto;
	    
	    // // -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	    // // -webkit-tap-highlight-color: transparent; 
	
		// // &:hover {
		// // 	background: $color_a_hover;
		// // }
		
		// // &:focus {
		// // 	background: #72A2FF;
		// // }

		// &::after {
		// 	display: none
		// }
    }
}

@media screen and (max-width: 1600px) {
    #main_form {
		.image {
			width: 45%;

			&::after {
				left: auto;
				right: -30px;
			}
		}
	
		.page_width {
			margin-left: 45%;
			
		}
	}
	.form_block {
		margin-left: 0;
    	margin-right: 0;
	}
}

@media screen and (max-width: 1300px) {
    #main_form {
	
		.image {
			width: 40%;
			&::after {
				right: 0px;
				top: auto;
				bottom: 20px;
			}
		}
	
		.page_width {
			margin-left: 40%;
			padding-top: 60px;
    		padding-bottom: 20px;
	
			&::before, &::after {
				width: 133/1480*1.3*100%;
				top: 70px;
			}
			&::after {
				left: -133/1480*1.3*100%;
			}
		}

		
	}
}
@media screen and (max-width: 1200px) {
    // #main_form {
	// 	.form_block {
	// 		padding: 0 0 0 20px;
	// 	}
	// }
	#small_form {
		.text {
			float: none;
			margin-right: 0px;
		}
		.form_block {
			float: none;
			margin-left: 0;
			form {
				margin: 0;
			}
			.input_text {
				float: left;
				margin-right: 10px;
				width: calc(100% - 180px);
				margin-left: 0;
			}
			button[type=submit] {
				padding: 0 15px 0 15px;
			}
			
			input[type=checkbox]:not(checked) + label {
				margin: 0px 0px 20px; 
			}
		}
		
	}
}

@media screen and (max-width: 1100px) {
    #main_form {
	
		.image {
			width: 35%;
		}
	
		.page_width {
			margin-left: 35%;
		}
	}
}

@media screen and (max-width: 1030px) {
	#main_form {
	
		.image {
			width: 22.5%;
			&::after {
				right: 10px;
				bottom: 0px;
			}
		}
	
		.page_width {
			margin-left: 22.5%;
		}
	}
}

// @media screen and (max-width: 900px) {
	
// }
@media screen and (max-width: 800px) {
	#main_form {
		form {
			margin-right: 0;
		}
		.image::after {
			display: none;
		}
	}
	.form_block {
		.textarea {
			margin-bottom: 32px;
		}
		.input_personal_info {
			float: none;
			padding-top: 0;
			margin-bottom: 20px;
		}
	}
}

@media screen and (max-width: 600px) {
    #main_form {
		h2 {
			margin-right: 0;
		}
		.image {
			display: none;
		}
		.page_width {
			margin-left: 0;
			padding-top: 30px;
			padding-bottom: 10px;
		}
	}
	.form_block .textarea {
		margin-left: 15px;
		margin-right: 5px;
	}
	.form_block textarea {
		height: 100px;
	}
	.form_block .input_text {
		width: calc(100% - 20px);
		float: none;
	}
	// .form_block input[type=checkbox]:not(checked) + label {
	// 	margin-bottom: 20px;
	// }
	.form_block .input_file {
		margin-right: 20px;
		margin-left: 10px;
		margin-bottom: 30px;
	}
}

@media screen and (max-width: 470px) {
	.form_block .input_file {
		width: 195px;
		margin: 0 auto 20px;
		display: block;
	}
	.form_block .uformTools {
		display: block;
		margin-right: 0;
		text-align: center;
	}
}
@media screen and (max-width: 400px) {
	#small_form .form_block {
		.input_text {
			float: none;
			margin-right: 0px;
			width: 100%;
		}
	}
}

/* end forms styles */