/* start main screen styles */ 

#main_screen {
    overflow: hidden;
	height: 100vh;
	min-height: 700px; // 1000px;
	//clear: both;
	//opacity: 0.5;
	background: url(images/bg_main_screen.jpg), linear-gradient(180deg, #1B537D 23.96%, #0E2A53 100%);
    background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	&.exclusive_products {
		background-image: url(images/bg_main_screen_2.jpg);
		//height: 790px;

		// .page_width {
		// 	height: 620px;
		// }

		.text {
			top: 0px;
			//padding-top: 60px;
			height: auto;
			//padding-bottom: 125px;
		}
	}

    .page_width {
		height: calc(100% - 170px);
		padding-top: 170px;
    }
    
	.title{
		margin-top: 20px;
		position: relative;

		.breadcrumbs{
			color: #fff;
			ul li > a{
				font-weight: 400;
				color: #fff;
			}
			
		}
	}

    .text {       
		max-width: 730px;
		height: calc(100vh - 345px);
		position: relative;
		padding-bottom: 1px;
		color: #fff;
		top: 20.7%;
		//margin-top: 172px;
		//margin-bottom: 114px;
    }
    h1 {
		//color: $color_a;
		margin-bottom: 20px;
	}
    
    p {
		font-size: 18px;
		line-height: 21px;
		margin-bottom: 60px;
    }
    .button {
		margin-right: 30px;
		padding-left: 15px;
		padding-right: 15px;
		margin-bottom: 20px;

		&::after {
            background: linear-gradient(180deg, #2F6791 23.96%, #0E2A53 100%);
        }

		&:hover {
			span {
				color: #fff;
			}
		}
    }

	.benefits { 
		color: #fff;
	}
    
}

.benefits {
	position: absolute;
	//margin-bottom: 60px;
	height: 114px;
	width: calc(100% - 180px);
	max-width: $max_width;
	bottom: 7.23%;

	&:not(.slick-slider) {
		display: flex;
		justify-content: space-between;

		.item {
			max-width: 260px;
			width: 25%;
		}
	}
	&.slick-slider {
		.item {
			padding: 0 10px;

			h6 {
				max-width: 200px;
				margin: 0 auto;
			}
		}
	}

	.item {
		text-align: center;
		//max-width: 260px;
		//width: 25%;
		box-sizing: border-box;
		//padding: 0 10px;

		.icon {
			margin-bottom: 19px;
			height: 52px;

			img {
				display: inline-block;
				max-height: 100%;
			}
		}
	}
}


@media screen and (min-width: 1030px) {
    #main_screen {
		h1 {
			font-size: 40px;
			line-height: 49px;   
		}

		&.exclusive_products {
			height: 790px;

			.text {
				padding-top: 60px;
				padding-bottom: 125px;
			}
		}
	}
}


@media screen and (max-width: 1400px) {
	.benefits {
		width: calc(100% - 100px);
	}
}
@media screen and (max-width: 1200px) {
	.benefits {
		width: calc(100% - 60px);
		font-size: 14px;
		line-height: 17px;

	}
}
@media screen and (max-width: 1130px) {
	#main_screen {

		.page_width {
			height: calc(100% - 91px);
			padding-top: 91px;
		}
	}
}

@media screen and (max-width: 1030px) {
	#main_screen {
		min-height: 570px;

		.text {
			max-width: 500px;
		}
		h1 {
			margin-bottom: 10px;
		}
		p {
			font-size: 16px;
			line-height: 20px;
			margin-bottom: 40px;
		}
	}
}

@media screen and (max-width: 800px) {
    #main_screen {
		.text {
			top: 40px;
		}
	}
}

@media screen and (max-width: 600px) {
	#main_screen {
		p {
			font-size: 14px;
			line-height: 17px;
			margin-bottom: 30px;
		}
	}
    .benefits {
		width: calc(100% - 20px);
	}
}

@media screen and (max-width: 450px) {
    
}

/* end main screen styles */