/* start main screen styles */ 

#main_screen {
    overflow: hidden;
	height: 100vh;
	min-height: 1000px; // 680px;
	//clear: both;
	//opacity: 0.5;
	background: url(../images/bg_main_screen.jpg) no-repeat center / cover;
    
    .page_width {
		height: calc(100% - 170px);
		padding-top: 170px;
    }
    
    .text {       
		max-width: 730px;
		height: calc(1000px - 345px);
		position: relative;
		padding-bottom: 1px;
		color: #fff;
		top: 22.7%;
    }
    h1 {
		//color: $color_a;
		margin-bottom: 20px;
	}
    
    p {
		font-size: 18px;
		line-height: 21px;
		margin-bottom: 60px;
    }
    .button {
		margin-right: 30px;
		padding-left: 15px;
		padding-right: 15px;
    }

	.benefits { 
		color: #fff;
	}
    
}

.benefits {
	//position: relative;
	display: flex;
	justify-content: space-between;
	margin-bottom: 60px;
	height: 114px;

	.item {
		text-align: center;
		max-width: 260px;
		width: 25%;
		box-sizing: border-box;
		//padding: 0 10px;

		.icon {
			margin-bottom: 19px;
			height: 52px;

			img {
				display: inline-block;
				max-height: 100%;
			}
		}
	}
}


@media screen and (min-width: 1030px) {
    #main_screen {
		h1 {
			font-size: 40px;
			line-height: 49px;   
		}
	}
}


@media screen and (max-width: 1500px) {
	
}

@media screen and (max-width: 1030px) {
	
}

@media screen and (max-width: 900px) {
	
}
@media screen and (max-width: 800px) {
    
}

@media screen and (max-width: 600px) {
    
}

@media screen and (max-width: 450px) {
    
}

/* end main screen styles */