/* start production styles */ 

#production {
    overflow: hidden;
    
    .page_width {
		padding-top: 100px;
        padding-bottom: 80px;
    }

    .buttons {
        text-align: center;
    }
    
}

.catalog {
    position: relative;
    overflow: hidden;

    &:not(.catalog_slider) {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px 30px;

        .item {
            width: calc(25% - 30px);
        }
    }

    &.catalog_slider {
        margin-bottom: -15px;

        .item {
            opacity: 0;

            &.slick-active {
                opacity: 1;
            }
        }
    }

    .slick-list {
        overflow: visible;
    }

    .item { 
        position: relative;
        border-radius: 5px;
        margin: 0 15px 55px;
        padding-bottom: 20px;
        background-color: #fff;
        @include transition(all);

        

        .image {
            width: 100%;
            height: 299px;
            text-align: center;

            img {
                max-height: 100%;
                object-fit: contain;
                display: inline-block;
            }
        }

        .info {
            padding: 21px 34px 29px 20px;

            .h4 {
                margin-bottom: 23px;
                display: block;
            }
        }

        .characteristics {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            line-height: 20px;
            .char {
                display: inline-block;
                max-width: 130px;

                // &:first-child {
                //     margin-right: 40px;
                // }
            }
        }

        .buttons {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 0 34px 0px 20px;

            .button {
                &:first-child {
                    margin-right: 10px;
                }
            }
        }

        &:hover {
            box-shadow: 15px 15px 40px rgba(0, 43, 43, 0.2);
        }

    }
}

.tags {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 150px;
    z-index: 1;

    .tag {
        padding: 0 15px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 44px;
        background: linear-gradient(180deg, #A3E419 15.1%, #83BB0D 100%);
        border-radius: 5px 0px;
        margin-bottom: 10px;
    }
}




@media screen and (min-width: 1030px) {
    
}


@media screen and (max-width: 1500px) {
	
}

@media screen and (max-width: 1030px) {
	
}

@media screen and (max-width: 900px) {
	
}
@media screen and (max-width: 800px) {
    
}

@media screen and (max-width: 600px) {
    
}

@media screen and (max-width: 450px) {
    
}

.product_images {
    float: left;
    width: 680/1530*100%;
    position: relative;
    padding-bottom: 100px;

}

.main_slider {
    position: relative;
    width: 100%;
    height: 500px;
    box-shadow: 5px 5px 20px rgba(0, 43, 43, 0.1);
    border-radius: 5px;
    overflow: hidden;

    &.slick-slider {
        margin: 0 0 30px;
        padding: 0;
    }
    .slick-list {
        margin: 0;
    }
    .slick-arrow {
        margin-top: -20px;
    }
    .slick-prev {
        left: 30px;
    }
    .slick-next {
        right: 30px;
    }

    .item {
        width: 100%;
        height: 500px;
        overflow: hidden;

        a {
            display: flex;
            height: 100%;
            justify-content: center;
            align-items: center;
            overflow: hidden;

            img {
                display: inline-block;
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }

}

.preview_slider {
    height: 190px;
    position: relative;
    margin-bottom: 60px;
    &.slick-slider {
        margin: 0 -20px;
        padding: 0 20px;

        .slick-list {
            margin: 0 -15px;
        }
    }
    .item {
        position: relative;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        height: 190px;
        margin: 0 15px 30px;
        box-shadow: 5px 5px 20px rgba(0, 43, 43, 0.1);
        border-radius: 5px; 

        img {
            display: inline-block;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

.description {
    margin-left: 780/1530*100%;

    .h3, h3 {
        margin-bottom: 30px;
    }

    .characteristicsr {
        margin-bottom: 38px;
        .char {
            margin-bottom: 15px;
            border-bottom: 1px dashed #8DB2CB;
            display: flex;
            justify-content: space-between;

            .name, .strong {
                background-color: #fff;
                margin-bottom: -6px;
            }
            .name {
                margin-right: 5px;
            }
            .strong {
                margin-left: 5px;
                font-weight: 600;
            }
        }
    }
}

.docs {
    position: relative;
    padding-bottom: 30px;

    .item {
        margin-bottom: 10px;
    }

    a {
        display: flex;
        align-items: center;

        &::before {
            content: '';
            display: inline-block;
            width: 30px;
            height: 40px;
            background: url(../images/icon_doc.svg) no-repeat center;
            margin-right: 10px;
        }
    }
}

.similar_products {
    clear: both;
    padding-bottom: 68px;

    h2 {
        margin-bottom: 40px;
    }
}




/* end production styles */